* 
  .header{
    display: flex ;width: 300 ;height:250px  ;background-color:  rgba(3, 36, 111, 0.347);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  
    body{
    font-family: Arial;
    margin: 150;   background-color: rgb(192, 186, 224);            
  }






 .flower {
    /* Turns this element into a flexbox */
    box-sizing: border-box ;width: 600;height:600 px;
    display: flex;padding: 20px;
    margin-top: 15%;
    font-size: 30px;
    justify-content: space-between;
  }

.flower img{
    /* Turns this element into a flexbox */
    box-sizing: content-box  ;
    height: 600px; width: 600px;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    padding:25px ;
    


  }
   .smallCo-op{
    display: flex;box-sizing: content-box:100px;
    /* Defines how to distribute the empty space between child elements */
    justify-content:space-between ;
    padding: 100px;
    background: #13293d;
    color: #fff;border: chartreuse;
    
   
  }
  
   .variety {
    /* A flex-basis of 50px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 100px;
    padding: 05px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
  }
  
 
.custom-general{flex:1 0 100;
    border-style:solid 100px;
    padding: 25px;
    background: #13293d;
    color: #fff;
    height:px;
    width:px;
  }

  
 
 .smallCo-op{
    /* With a flex-grow value of 2, this element grows twice as wide as others */
    /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
   border-color: ;
    flex: 1 1 400px;
    text-align;}
  
  
  
  








































































































































































  om'qwr;qh'oq5[4ji'
  [PGQPHJKHSPH]]




























































































































































































































































































































































































































































































































































































